.animate-count {
    transition: all 4s ease-out;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.slide-in-left {
    transform: translateX(-50px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.slide-in-left.visible {
    transform: translateX(0);
    opacity: 1;
}

.slide-in-right {
    transform: translateX(50px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.slide-in-right.visible {
    transform: translateX(0);
    opacity: 1;
}
